:root {
    --neutral-one: hsl(217, 54%, 11%);
    --neutral-two: hsl(216, 50%, 16%);
    --primary-one: hsl(215, 51%, 70%);
    --primary-two: hsl(178, 100%, 50%);
    --neutral-four: hsl(0, 0%, 100%);
    --neutral-three: hsl(215, 32%, 27%);
    }